@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Azeret Mono", monospace;
}
header{
    max-width: 1440px;
    height: 760px;
    border: 2px solid red;
    margin: 0px auto;

}
.header-line{
    width: 85%;
    height: 60px;
    border: 2px solid gray;
    margin: 0px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-line h3{
    width: 130px;
    height: 29px;
    margin-left: 50px;
    border: 2px solid red;
    font-size: 20px;
    color: rgb(13, 19, 33);
    font-weight: 800;
}

.header-line button{
    width: 180px;
    height: 38px;
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: none;
    text-align: center;
    background-color: white;
    border-radius: 6px;
    border: 1px solid;

}

.header-body{
    width: 100%;
    height: 650px;
    border: 2px solid green;
    margin: 20px auto;
    background-image: url(../pictures/Hero-bg.png);
    background-repeat: no-repeat;
}
.header-img{
    width: 220px;
    height: 220px;
    border: 2px solid blue;
    margin: 26px auto;
}
.header-content{
    width: 70%;
    height: 300px;
    border: 2px solid black;
    margin: 0px auto;
}
.header-content h1{
    width: 920px;
    height: 110px;
    border: 2px solid green;
    color: rgb(13, 19, 33);
    font-weight: 42px;
    font-weight: 800;
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
}
.header-content p{
    width: 840px;
    height: 60px;
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border: 2px solid red;
    letter-spacing: 0%;
    margin: 0px auto;
    margin-bottom: 20px;
}
.header-content button{
    width: 200px;
    height: 60px;
    border-radius: 7px;
    background: rgb(13, 19, 33);
    color: rgb(245, 246, 247);
    cursor: pointer;
    border: 2px solid red;
    margin-left: 420px;
    
}

